- tabs_add_item I18n.t('clinics.labels.offices'), clinic_path(@clinic), :offices
- tabs_add_item I18n.t('clinics.labels.clinics'), others_clinic_path(@clinic), :clinics
- tabs_add_item I18n.t('clinics.labels.inquiry'), clinic_inquiries_path(@clinic), :inquiry
