#office {
  padding: 0 10px;
}
.clinic .description {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 5px;
}

.office .logo-micro {
  border: 1px solid #ddd;
  padding: 2px;
  display: inline-block;
  margin-right: 5px;
  float: left;
}

.office .row {
  margin: 3px 0;
}

.office .address {
  padding-left: 20px;
  background: url(/images/map.png) 0 50% no-repeat;
  line-height: 16px;
  color: #999;
  font-style: italic;
  display: block;
  margin-left: 65px;
}

#office .description {
  position: relative;
}

#office .actions {
  position: absolute;
  right: 0;
  top: 20px;
  width: 220px;
}
#office .status {
  line-height: 16px;
  padding: 5px;
  display: block;
  -webkit-border-radius: 3px;
  text-align: left;
}

#office .status-verified {
  background: -webkit-gradient(linear, left top, left bottom, from(#8dce26), to(#7ea146));
  border: 1px solid #098400;
  margin-top: 5px;
}

#office .status-noverified {
  padding: 0;
}


#office .status-verified span{
  color: #fff;
  background: transparent url(/images/apply_icon.png) 0 50% no-repeat;
  padding-left: 20px;
}

#office .status-noverified span {
  color: #ff0800;
}

#office .report-error {
  display: block;
  margin-top: 5px;
}
#office .specialisations {
  width: 500px;
}

.departament .contact {
  display: none;
  padding-left: 20px;
  line-height: 16px;
  color: #999;
  font-style: italic;
  margin-left: 65px;
  background: url(/images/phone.png) 0 50% no-repeat;
}

#departament .contact {
  display: block;
}

#office h2 {
  font-size: 14px;
}
#office h2 a {
  color: #3c3c33;
}

